# Paths
DATA_PATH=/mnt/user/data
DOWNLOADS_PATH=/mnt/user/data/downloads

# Public routing
QBITTORRENT_SUBDOMAIN=qbittorrent
PROWLARR_SUBDOMAIN=prowlarr
RADARR_SUBDOMAIN=radarr
SONARR_SUBDOMAIN=sonarr
OVERSEERR_SUBDOMAIN=overseerr
XTEVE_SUBDOMAIN=xteve
PROFILARR_SUBDOMAIN=profilarr

# qBittorrent
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_PEER_PORT=6881

# Plex
PLEX_CLAIM=
PLEX_ADVERTISE_URL=http://192.168.1.100:32400
